html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  html,
  body {
    height: 100%;
  }
  
  .clearfix:before,
  .clearfix:after {
    content: " ";
    display: table;
  }
  
  .clearfix:after {
    clear: both;
  }
  
  .block:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
  
  .vertical-centered {
    display: inline-block;
    vertical-align: middle;
  }