/*font-family: 'Vollkorn', serif;
font-family: 'Roboto', sans-serif;*/

body{
    font-size: 16px;
    background-color: #f2f2f2;
    font-family: 'Vollkorn', serif;
}

.main{
    background-color: white;
}

.header:after {
    width: 100%;
    content: ""
}

.header {
    position: relative;
    padding: 3.4em 0 0;
    height: 20em;
}

.profile{
    background-image: url(..\img\me.jpg);
    height: 100px;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-color: black;
    border-radius: 50% 50%;
}

.header:after{
    z-index: -1;
    position: fixed;
    left: 0;
    top: 0;
    will-change: transform;
    background-color: #d24c4b;
    background-position: center;
    background-size: cover;
    height: 25em;
}
